*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
.navbar{
    color: whitesmoke;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items:center ;
    background-color: black;
    position: fixed;
 
}
.navbar h3{
    font-size: 25px;
    padding: 10px;
    color: rgb(223, 216, 216);
}
.navbar a{
    text-decoration: none;
}
.navBarIcons i{
  padding-left: 20px;
  padding-right: 20px;
  color: whitesmoke;
}
.navBarIcons a{
    text-decoration: none;
}
.productDetailsContainer{
    display: flex;
    justify-content: start;
    align-items: start;
    background-color:  rgb(14, 11, 11);
    padding-bottom: 80px;
    padding-top: 40px;
}
.smallImageContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.smallImageContainer img{
    width: 120px;
    height: 120px;
    border: 1px solid rgb(143, 141, 141);
    margin: 20px 40px;
}
.smallImageContainer img:hover{
    border-width: 2px;
}
.bigImageContainer img{
    width: 600px;
    height: 600px;
    margin-top: 40px;
    margin-right: 40px;
}
.descriptionContainer{
    margin:50px 20px;
    width: 400px;
    color: rgb(197, 192, 192);
}
.descriptionContainer h3{
    font-size: 25px;
    font-family: 800;
    margin-bottom: 8px;
}
.descriptionContainer h4{
    font-size: 18px;
    font-family: 600;
    margin-bottom: 10px;
}
.descriptionContainer .ratings{
    display: flex;
    padding-bottom: 20px;
   
}
.ratings i{
    font-size: 10px;
    color: red;
   
    margin: 6px 1px;
   
}
.ratings .ratingCount{
    margin:3px 2px;
    font-size: 14px;
    padding-left: 5px;
}
/* .descriptionContainer .rupee{
    display: inline;
} */
.descriptionContainer .currentRate{
    display: inline-block;
    padding-top: 30px;
    font-size: 20px;
    color: white;
    font-weight: 900;
    margin-bottom: 8px;
}
.descriptionContainer strike{
    font-size: 16px;
    margin-left: 5px;
    color: rgb(152, 149, 149);
}
.descriptionContainer .green{
    font-size: 18px;
    color: rgb(49, 234, 49);
    margin-bottom: 8px;
}
.descriptionContainer .para{
    margin-bottom: 30px;
}
.descriptionContainer h4{
    margin-top: 40px;
    font-size: 22px;
}
.descriptionContainer .offers{
    display: flex;
    margin-bottom: 30px;
}
.offers p{
    border: 1px solid rgb(128, 125, 125);
    margin-right: 20px;
    padding: 10px;
}
.descriptionContainer .btn{
    margin-top: 30px;
    background-color: red;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 150px;
    color: white;
    font-size: 20px;
}
.specificationsContainer{
    background-color:  rgb(14, 11, 11);
     color: whitesmoke;
     padding-bottom: 60px;
}
.specificationsContainer .buttons{
    text-align: center;
   
}
.buttons button{
    width: 120px;
    margin: 30px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    color: white;
    background-color: black;
}
.buttons .btn1{
    background-color: red;
}
.specificationsContainer .specfInfo{
    display: flex;
    margin:70px 70px;
}
.specfInfo .div1{
   width: 200px;
   
}
.div1 p{
    margin: 15px;
    color: rgb(155, 154, 154);
    font-size: 22px;
}
.specfInfo .div2{
    width: 200px;
    
 }
.div2 p{
    margin: 15px;
    text-align: right;
    font-size: 22px;
}

.relatedProductsContainer{
    background-color:  rgb(14, 11, 11);
}
.relatedProductsContainer h1{
    text-align: center;
    color: rgb(145, 142, 142);
    margin-bottom: 80px;
    font-size: 30px;
}
.topProducts{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;

}
.topProductCard img{
    height: 200px;
    width: 278px;
  object-fit: contain;
    background-color: rgb(37, 36, 36);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.topProductCard img:hover{
    animation-name: zoom;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
@keyframes zoom {
    0%{
        transform: scale(0.999);
    }
    50%{
        transform: scale(1.011);
    }
    100%{
        transform: scale(0.9999);
    }
}
.topProductCard {
    border: 1px solid rgb(91, 90, 90);
    width: 280px;
    /* padding: 15px; */
    margin-bottom:  18px;
    border-radius: 5px;
    background-clip: border-box;
    /* flex-grow: 1; */
}
.cardInfo{
    padding: 15px;
}

.cardInfo .rating i{
    font-size: 10px;
    color: red;
    margin-bottom: 15px;
}
.cardInfo h3{
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 10px;
    color:whitesmoke;
}
.cardInfo p{
    font-size: 16px;
    color: rgb(125, 124, 124);
    margin-bottom: 16px;
}
.cardInfo .rupee{
    display: inline;
}
.cardInfo .rate{
    display: inline-block;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 900;
    color: white;
}
.cardInfo strike{
    font-size: 18px;
    margin-left: 5px;
    color: rgb(77, 76, 76);
}
.cardInfo .btn{
    display: block;
    width: 245px;
    background-color: red;
    border-radius: 5px;
    padding: 10px;
    border: none;
    color: white;
    font-size: 18px;
}

.advantageContainer{
    background-color:  rgb(14, 11, 11);
    
}
.advantageContainer h1{
    text-align: center;
    font-size: 30px;
    padding-top: 100px;
    padding-bottom: 100px;
    color: whitesmoke;
}
.advantages{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-grow: 1;
    gap: 10px;


}
.advCard{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.advCard i{
    padding: 20px;
    color: red;
    font-size: 30px;
}
.advCard .description .para1{
    font-size: 18px;
    color: whitesmoke;
    font-weight: 800;
    margin-bottom: 5px;
}
.advCard .description .para2{
    font-size: 16px;
    color: rgb(134, 131, 131);
}
.footer{
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
    padding-bottom: 50px;
}
.footer .subcribeContainer{
    width: 340px;
  
}
.subcribeContainer h1{
    font-size: 25px;
    color: whitesmoke;
    margin: 10px;
}
.subcribeContainer [type="email"]{
    width: 300px;
    background-color: black;
    border: 1px solid  rgb(134, 131, 131);
    color:  rgb(134, 131, 131);
    padding: 10px;
    margin: 10px;
}

.footer p{
    font-size: 18px;
    color: rgb(134, 131, 131);
    font-family: 100;
    margin: 14px;
}
.subcribeContainer .btn{
    width: 150px;
    background-color: red;
    color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
}
.footer h4{
    font-size: 20px;
    margin: 14px;
    padding-bottom: 20px;
    color: whitesmoke;
}
.footerBottom{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 80px;
}
.footerBottom p{
    color: whitesmoke;
    font-size: 18px;
}
.footerBottom .icons i{
    margin-left: 25px;
    font-size: 20px;
    color: rgb(160, 158, 158);
}